@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.container {
  box-sizing: border-box;
  margin-top: 50px;
  padding: 0px 30px;
}
.container h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.results {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .results {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.results .location {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: relative;
  width: 100%;
  min-width: 230px;
  height: 170px;
  margin: 0px 15px 10px 0px;
}
@media (min-width: 576px) {
  .results .location {
    width: 250px;
  }
}
.results .location .remove-location {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  z-index: 10;
}
.results .location .remove-location:hover {
  opacity: 1;
}
.results .location .location__container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
.results .location .location__container .location__loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results .location .location__container .location__loading i {
  color: #fff;
  font-size: 2em;
}
.results .location .location__container .location__loaded h2 {
  margin: 0 0 10px 0;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}
.results .location .location__container .location__loaded .location__weather {
  display: flex;
}
.results .location .location__container .location__loaded .location__weather .icon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results .location .location__container .location__loaded .location__weather .icon img {
  width: 80px;
}
.results .location .location__container .location__loaded .location__weather .temp {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results .location .location__container .location__loaded .location__weather .temp p {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
}
.results .location .location__container .location__error h2 {
  margin: 0 0 10px 0;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}
.results .location .location__container .location__error p {
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

.addLocation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .addLocation {
    justify-content: flex-start;
  }
}
.addLocation input, .addLocation button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.addLocation input {
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .addLocation input {
    width: 250px;
    margin-right: 15px;
  }
}
.addLocation button {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
