.addLocation{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    position: relative;
    width: 100%;
    min-width: 230px;
    min-height: 170px;
    margin: 0px 15px 10px 0px;
    cursor: pointer;


    @include respond-above(xs){
        width: 250px;
    }

    i{
        font-size: 4em;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, .4);
    }
}