.new-location{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    position: relative;
    width: 100%;
    min-width: 230px;
    min-height: 170px;
    margin: 0px 15px 10px 0px;


    @include respond-above(xs){
        width: 250px;
    }
}